:root {
  --font: #d8d8d8;
  --card: #2f3136;
  --background: #202225;
  --border-radius: 6px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--font);
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: var(--background);
  font-family: 'Roboto Mono', sans-serif;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}

input {
  all: unset;
  padding: 0 10px 0 10px;
  border-radius: var(--border-radius);
  background-color: var(--background);
}

#menu {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card);
}

#book-url {
  width: 500px;
  height: 40px;
  margin-right: 10px;
}

#main {
  text-align: center;
  padding: 10px 10% 10px 10%;
}

#book-title {
  font-size: larger;
  font-weight: bold;
  margin-top: 20px;
}

#btn-slot {
  margin: 10px 0 10px 0;
}

.material-icons {
  border: 0;
  font-size: 36px;
}

.icon-button {
  padding: 2px;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius);

  transition: all;
  transition-duration: 200ms;
  background-color: var(--card);
}

.icon-button:hover {
  background-color: var(--background);
}

.icon-button:active {
  background-color: #181818;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
